@model IEnumerable<SimpleBlog.Models.Domain.Post>
@{
    foreach(var post in Model){
        string plainText = System.Text.RegularExpressions.Regex.Replace(post.Content ?? "", "<.*?>", "");
        post.Content = plainText.Length > 100 ? plainText.Substring(0, 100) + "..." : plainText;
    }
}
<div class="container mt-4">
    <h2 class="mb-4">Posts</h2>


    <form method="get" asp-action="Search" class="d-flex mb-4">
        <input type="text" name="q" value="@ViewBag.q"
               class="form-control me-2" placeholder="Enter your words" />
        <button type="submit" class="btn btn-primary">Search</button>
    </form>


    <div class="row">
        @if (!Model.Any())
        {
            <p>Not Found</p>
        }
        else
        {
            @foreach (var post in Model)
            {
                <div class="col-md-4 mb-3">
                    <div class="shadow-sm border-0 hover-card">
                        <div style="height: 250px; overflow: hidden;">
                            <img src=@post.FeaturedImageUrl class="card-img-top w-100 h-100" style="object-fit: cover;" alt="Post">
                        </div>
                        <div class="card-body p-4">
                            <h5 class="card-title">@post.Title</h5>
                            <p class="card-text text-muted">
                                @post.Content.Substring(0, Math.Min(post.Content.Length, 100))...
                            </p>
                            <p class="text-start">
                                <small class="text-secondary">
                                    Written By <span class="fw-bold"> @post.Author?.UserName </span>
                                </small>
                            </p>
                            <div class="text-end">
                                <a asp-controller="Post" asp-action="Details" asp-route-id="@post.Id"
                               class="btn btn-outline-dark btn-sm">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
